.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 5px;
    background: #3a3a99;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
    transition-property: background;
}

.logout_btn:hover {
    background: #ec7c24;
}

.back_btn {
    padding: 5px;
    background: #3a6099;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
    transition-property: background;
}

.back_btn:hover {
    background: #e08d4e;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #2a2a38;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 220px;
    height: calc(100%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.sideh{
    margin-top: 70%
}

.menusb {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 90px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.menusb:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: auto;
    padding-top: 80px;
    margin-left: 250px;
    background: white center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

.contents {
    width: auto;
    margin-top: 2%;
    padding: 20px;
    margin-left: 130px;
    background: white center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    #sidebar_btn {
        display: none;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    .contents{
        margin-top: 100px;
        margin-left: 50px;
    }

    #check:checked~.content {
        margin-left: 0;
    }

  
}


  .rela-block {
    display: block;
    position: relative;
    margin: auto;
  }
  .rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;
  }
  .floated {
    display: inline-block;
    position: relative;
    margin: false;
    float: left;
  }
  .floated.right {
    float: right;
  }
  .abs-center {
    display: false;
    position: absolute;
    margin: false;
    top: 50%;
    left: 50%;
    right: false;
    bottom: false;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 88%;
  }
  .vert-center {
    display: false;
    position: absolute;
    margin: false;
    top: 50%;
    transform: translateY(-50%);
  }
  .horz-center {
    display: false;
    position: absolute;
    margin: false;
    top: false;
    left: 50%;
    right: false;
    bottom: false;
    transform: translateX(-50%);
  }
  .blurred {
    filter: blur(2px);
  }
  .overlay.active {
    z-index: 100;
    opacity: 1;
  }
  .overlay.active .overlay-image {
    opacity: 1;
  }
  .overlay-card {
    height: 75vh;
    min-height: 400px;
    width: calc(92% - 40px);
    max-width: 1086px;
    padding-left: 30px;
    background-color: #f4f4f4;
    border-radius: 2px;
    overflow: hidden;
  }
  .overlay-image {
    height: 100%;
    width: 480px;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.2s 0.3s ease;
  }
  .overlay-desc {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 20px;
    height: calc(100% - 40px);
    margin: 20px;
    border-left: 1px solid #ccc;
    width: calc(100% - 520px);
    padding: 20px 20px 20px 40px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .overlay-desc::-webkit-scrollbar {
    width: 6px;
  }
  .overlay-desc::-webkit-scrollbar-thumb {
    background-color: #999;
  }
  .post-image {
    height: 100%;
    max-height: 400px;
    width: 480px;
    border: 20px solid #fff;
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.25);
    background-size: cover !important;
    cursor: pointer;
  }
  .desc-title {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .desc-author {
    font-family: "Montserrat";
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    margin-bottom: 10px;
  }
  .close {
    z-index: 100;
    display: false;
    position: absolute;
    margin: false;
    top: 10px;
    right: 15px;
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    color: #444;
    padding: 5px;
  }
  .nav-bar {
    display:flex;
    position: sticky;
    top: 3%;
    right: 0;
    bottom: false;
    z-index: 10;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 2px 18px rgba(0,0,0,0.3);
  }
  .nav-container {
    width: 90%;
    max-width: 1400px;
  }
  .logo:hover {
    color: #2ebaae;
  }
  .nav-div {
    font-family: "Roboto";
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 24px;
    height: 50px;
    line-height: 70px;
    color: #999;
    overflow: hidden;
  }
  .nav-div li {
    padding: 0 9px;
    cursor: pointer;
  }
  .nav-div li:hover {
    color: #ec7c24;
  }
  .sign-div {
    margin: 0px;
    width: auto;
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.15s 0.3s cubic-bezier(0.75, 0, 0.2, 1);
  }
  .sign-div li {
    padding: 0 0 0 15px;
  }
  .sign-div.active {
    width: 0px;
    opacity: 0;
    transition: 0.15s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
  }
  .icon {
    height: 40px;
    width: 40px;
    margin: 0 6px;
    vertical-align: middle;
    cursor: pointer;
    background-size: 30px !important;
  }
  .icon.search-icon {
    background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png") no-repeat;
    background-position: 3px 3px;
  }
  .nav-search {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-bottom: 1px solid #999;
    width: 0px;
  }
  .nav-search:focus {
    outline: none;
  }
  .nav-search.active {
    width: 180px;
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
  }
  .menu-card {
    display: false;
    position: fixed;
    margin: false;
    top: 72px;
    left: 420px;
    right: false;
    bottom: false;
    font-family: "Montserrat";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 20px;
    z-index: 15;
    height: 200px;
    width: 280px;
    overflow: hidden;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0);
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s ease;
    pointer-events: none;
  }
  .menu-card.active {
    box-shadow: 0px 5px 18px -3px rgba(0,0,0,0.3);
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s 0.25s ease;
    pointer-events: auto;
  }
  .menu-background {
    height: 0px;
    width: 0px;
    top: 5%;
    left: 93%;
    border-radius: 100%;
    background-color: #fff;
  }
  .menu-background.active {
    height: 540px;
    width: 540px;
    top: 50%;
    left: 50%;
    transition: 0.3s cubic-bezier(0.5, 0, 0.2, 1), height 0.3s cubic-bezier(1, 0.15, 0.6, 1), width 0.3s cubic-bezier(1, 0.15, 0.6, 1);
  }
  .menu-content {
    display: false;
    position: absolute;
    margin: false;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    transition: 0.1s ease;
  }
  .menu-content.active {
    opacity: 1;
    transition: 0.3s 0.3s ease;
  }
  .menu-links {
    overflow: hidden;
    color: #999;
  }
  .menu-links li {
    padding: 4px 10px;
    margin: 4px 0;
    cursor: pointer;
  }
  .menu-links li:hover {
    color: #2ebaae;
  }
  .menu-links.sub-nav-links {
    height: 0px;
  }
  .menu-links.sign-links {
    height: 0px;
  }
  .profile-card {
    width: calc(100% - 40px);
    padding-top: 100px;
    margin: 70px auto 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
  }
  .profile-pic {
    display: false;
    position: absolute;
    margin: false;
    top: -90px;
    left: 50%;
    right: false;
    bottom: false;
    transform: translateX(-50%);
    height: 180px;
    width: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    background: url("https://pbs.twimg.com/media/CdbiubzVIAANj8J.jpg") center no-repeat;
    background-size: cover;
  }
  .profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
  }
  .user-name {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .user-desc {
    letter-spacing: 1px;
    color: #999;
  }
  .profile-card-stats {
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
  }
  .profile-stat {
    height: 100%;
    width: 33.3333%;
  }
  .profile-stat:after {
    color: #999;
  }
  .works::after {
    content: "works";
  }
  .followers::after {
    content: "followers";
  }
  .following::after {
    content: "following";
  }
  .image {
    width: 240px;
    height: 200px;
    cursor: pointer;
    margin: 0 20px 40px;
    overflow: hidden;
    border-radius: 5px;
    border: 10px solid #fff;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
    background-color: rgba(0,0,0,0.4);
    background-size: cover !important;
    transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
  }
  .image:hover {
    transform: scale(1.06);
    box-shadow: 0 2px 18px -2px rgba(0,0,0,0.3);
  }
  .image.hidden {
    height: 0;
    width: 0px;
    margin: 0px;
    border: 0px solid #fff;
  }
  .button {
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 900;
    line-height: 20px;
    min-width: 200px;
    padding: 20px 40px;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #bbb;
    margin: 0 20px;
  }
  .button:hover {
    color: #2ebaae;
    border: 1px solid #2ebaae;
  }
  .button.inactive {
    color: #bbb;
    cursor: default;
  }
  .button.inactive:hover {
    color: #bbb;
    border: 1px solid #bbb;
  }
  .footer {
    min-height: 240px;
    border-top: 1px solid #d6d6d6;
    background-color: #fff;
    padding: 30px 40px;
    text-align: center;
    overflow: hidden;
  }
  @media screen and (max-width: 1300px) {
    .container {
      max-width: 843px;
    }
    .overlay-card {
      max-width: 803px;
      padding: 0;
    }
    .overlay-image {
      height: 68%;
      width: 100%;
    }
    .overlay-desc {
      width: 100%;
      height: 32%;
      margin: 0;
      padding: 20px 40px;
    }
  }
  @media screen and (max-width: 1000px) {
    .container {
      max-width: 562px;
    }
    .overlay-card {
      max-width: 522px;
      min-width: 310px;
    }
    .overlay-image {
      width: 100%;
      height: 55%;
      max-height: 1000px;
      margin: 0;
    }
    .post-image {
      width: 396px;
      height: 330px;
      border: 0px solid #fff;
      box-shadow: 0 0 0 rgba(0,0,0,0);
      background-size: contain !important;
    }
    .overlay-desc {
      width: 100%;
      height: 45%;
      padding: 20px;
    }
    .nav-links {
      width: 0px;
    }
    .menu-background {
      left: 8%;
    }
    .menu-card {
      left: 2px;
      height: 360px;
    }
    .menu-content .sub-nav-links {
      height: 164px;
      border-bottom: 1px solid #ccc;
    }
  }
  @media screen and (max-width: 630px) {
    .image {
      width: calc(100% - 40px);
      height: 0px;
      padding-bottom: 60%;
    }
    .menu-content .sign-links {
      height: 64px;
      border-top: 1px solid rgb(235, 0, 0);
    }
    .menu-card {
      height: 425px;
    }
    .nav-search.active {
      transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
    }
  }
  @media screen and (max-width: 550px) {
    .overlay-card {
      height: 500px;
    }
    .post-image {
      width: 80%;
      max-width: 288px;
      height: 240px;
    }
    .overlay-desc {
      padding: 14px;
    }
    .profile-card-stats {
      height: 0;
      padding: 0px;
    }
    .profile-pic {
      height: 140px;
      width: 140px;
      top: -70px;
    }
    .profile-card {
      padding-top: 70px;
      margin: 50px auto 30px;
    }
  }
  
  .profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info h4 {
    color: #ccc;
    margin-top: 10px;
}

.sidebar .profile_info h5 {
    color: #ccc;
    margin-bottom: 80px;
}


.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counterchat{
    box-shadow: 2px 2px 10px #DADADA;
    margin-bottom: 15px;
    background-color: #fff;
    height: auto;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #9e9e9e;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }